html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "thin";
  src: url("/Alumni/AlumniSansPinstripe-Regular.ttf") format("opentype");
}
@font-face {
  font-family: "lemon";
  src: url("/DM_Sans/static/DMSans-ExtraLight.ttf") format("opentype");
}

body {
  font-family: "lemon", sans-serif;
  background-color: #a5d7ad;
  color: #333;
  line-height: 1;
  overflow-y: scroll;
}

.header {
  display: flex;
  justify-content: end;
}

.skewed-background1 {
  position: absolute;
  width: 100%;
  overflow: hidden;
  font-family: "Franklin Gothic", "Arial Narrow", Arial, sans-serif;
  font-weight: bold;
  font-size: 400px;
  height: 1000px;
  color: #abe0b4;
  transform: skewY(-10deg);
  z-index: -1;
}

.skewed-background2 {
  position: absolute;
  width: 100%;
  overflow: hidden;
  font-family: sans-serif;
  height: 600px;
  background-color: #afe2b7;
  transform: skewY(-10deg);
  z-index: -2;
}

.sticky-navbar {
  position: fixed;
  bottom: 16px;
  margin-left: 130px;
  background-color: rgba(130, 167, 136, 0.8);
  backdrop-filter: blur(10px) brightness(0.9);
  border-radius: 20px;
  z-index: 1000;
}

.nav-links {
  display: flex;
  gap: 34px;
  list-style: none;
  color: #061715;
}

.nav-links a {
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;
}

.nav-links a:hover {
  color: #061715;
  transform: scale(1.1);
}

.logo {
  display: flex;
  justify-content: end;
}

.logo-image {
  height: 70px;
}

.slogan {
  background-color: transparent;
  max-width: 60%;
  color: #003d3e;
  padding-top: 150px;
  padding-left: 20px;
  padding-bottom: 190px;
}

.slogan-heading {
  font-size: 50px;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px;
}

.intro {
  display: flex;
  justify-content: start;
  align-items: center;
  background-color: transparent;
  color: #003d3e;
  min-height: 25rem;
  width: 150px;
}

.intro-text {
  text-align: start;
  font-size: 20px;
}

.arrow-button {
  color: #003d3e;
  background-color: transparent;
  font-size: 34px;
  padding: 10px;
  text-decoration: none;
  letter-spacing: 1.7px;
}

.service-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 45rem;
  gap: 10px;
}

.input-text {
  max-width: 60%;
  padding: 10px;
  margin-bottom: 30px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.form-button {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "lemon", sans-serif;
  padding: 8px 30px;
  background-color: rgba(130, 167, 136, 0.8);
  backdrop-filter: blur(10px) brightness(0.9);
  border-radius: 20px;
  border: none;
  color: #151d1c;
  font-size: 16px;
  text-align: center;
}

.form-button:hover {
  background-color: rgba(130, 167, 136, 1);
  transform: scale(1.05);
}

.button-container {
  display: flex;
  flex-direction: column;
  margin: 50px 20px 150px 20px;
}

.output-wrapper {
  min-width: 60%;
  background: #fff;
  border-radius: 5px;
  color: #8e8c8c;
  padding: 20px;
  min-height: 7rem;
}

.sticky-navbar {
  position: fixed;
  bottom: 16px;
  left: 18px;
  display: flex;
  padding: 10px 30px;
  justify-content: center;
  align-items: center;
  background-color: rgba(130, 167, 136, 0.8);
  border-radius: 20px;
  z-index: 1000;
}

.nav-links {
  display: flex;
  gap: 20px;
  list-style: none;
}

.nav-links a {
  text-decoration: none;
  color: #051d16;
  font-size: 16px;
}

.hero {
  text-align: center;
}

.logo {
  text-align: center;
  margin: 15px;
}

.slogan {
  font-size: 24px;
}

.intro {
  max-width: 90%;
  margin: 20px;
  font-size: 16px;
  text-align: center;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: end;
  min-height: 10rem;
  padding: 10px;
  text-align: center;
  background: #333;
  color: white;
}

/* Tablet View */
@media (min-width: 768px) {
  .header {
    display: flex;
    align-items: center;
    overflow: hidden;
    justify-content: center;
  }

  .logo {
    display: flex;
    align-items: center;
  }

  .skewed-background1 {
    font-size: 700px;
    height: 1200px;
  }

  .logo-image {
    height: 90px;
  }

  .sticky-navbar {
    position: relative;
    display: flex;
    border-radius: 30px;
    margin-right: 30px;
    align-items: center;
    margin-top: 25px;
  }

  .nav-links {
    display: flex;
    gap: 40px;
  }

  .nav-links a {
    font-size: 23px;
  }

  .slogan-heading {
    font-size: 70px;
  }

  .arrow-button {
    font-size: 40px;
    padding: 10px;
  }

  .intro {
    width: 450px;
  }

  .intro-text {
    font-size: 40px;
  }

  .service-wrapper {
    min-height: 60rem;
    gap: 30px;
  }

  h2 {
    font-size: 30px;
  }

  form {
    width: 100%;
    margin: 40px;
  }
  .input-text {
    max-width: 80%;
    margin-bottom: 70px;
  }
  .textContent {
    text-align: center;
    font-size: 1.2em;
    min-width: 50%;
  }

  .form-button {
    padding: 8px 30px;
    font-size: 20px;
    border-radius: 40px;
  }

  .output-wrapper {
    width: 80%;
    font-size: 25px;
    padding: 20px;
    min-height: 15rem;
  }

  .footer {
    height: 25rem;
    font-size: 25px;
  }
}

@media (min-width: 1024px) {
  .header {
    display: flex;
    justify-content: space-between;
  }

  .slogan {
    padding: 300px;
    max-width: 70%;
  }

  .slogan-heading {
    font-size: 77px;
  }

  .service-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    max-width: 90%;
  }

  .output-wrapper {
    margin-top: 60px;
  }

  .arrow-button {
    margin-left: 300px;
    font-size: 4rem;
    letter-spacing: 5px;
  }

  .intro {
    display: flex;
    justify-content: center;
    margin-left: 300px;
    margin-top: 420px;
    width: 950px;
  }
  .intro-text {
    text-align: start;
    font-size: 5rem;
  }

  .logo-image {
    height: 100px;
  }
  .sticky-navbar {
    position: relative;
    display: flex;
    padding: 30px 130px;
    border-radius: 60px;
    align-items: center;
    margin-top: 35px;
    margin-right: 30px;
  }
  .form-button {
    padding: 16px 65px;
    font-size: 25px;
    border-radius: 40px;
  }
  h2 {
    font-size: 40px;
  }
  .nav-links {
    display: flex;
    gap: 120px;
  }

  .nav-links a {
    color: #173728;
    font-size: 35px;
  }

  .skewed-background1 {
    font-size: 700px;
    height: 1200px;
  }
}
