/* General Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "thin";
  src: url("/Alumni/AlumniSansPinstripe-Regular.ttf") format("opentype");
}
@font-face {
  font-family: "lemon";
  src: url("/DM_Sans/static/DMSans-ExtraLight.ttf") format("opentype");
}

body {
  font-family: "lemon", sans-serif;
  background-color: #a5d7ad;
  color: #333;
  line-height: 1;
  overflow-y: scroll;
}

section {
  background-color: #a5d7ad;
  min-height: 25rem;
}

.sticky-navbar {
  position: fixed;
  min-width: 90%;
  bottom: 16px;
  left: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 20px;
  background-color: rgba(130, 167, 136, 0.8);
  backdrop-filter: blur(10px) brightness(0.9);
  border-radius: 20px;
  z-index: 1000;
}

.nav-links {
  display: flex;
  gap: 34px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav-links a {
  text-decoration: none;
  color: #003d3e;
  font-size: 18px;
  font-weight: bold;
}

.nav-links a:hover {
  color: #005d5f;
  transform: scale(1.1);
}

.hero {
  background-color: #a5d7ad;
  padding: 50px 20px;
}

.slogan {
  background-color: #a5d7ad;
  max-width: 70%;
  font-size: 44px;
  color: #003d3e;
  padding-top: 60px;
  padding-bottom: 190px;
}

/* Intro Section */
.intro {
  background-color: #a5d7ad;
  max-width: 60%;
  color: #003d3e;
  padding: 50px 20px;
}

.intro-text {
  font-size: 20px;
}

.button-container {
  display: flex;
  flex-direction: column;
  margin: 50px 20px 150px 20px;
}

.arrow-button {
  color: #003d3e;
  background-color: #a5d7ad;
  font-size: 34px;
  padding: 10px;
}

/* Input Area */
.input-section,
.output-section {
  padding: 20px;
  text-align: center;
}

.input-text {
  width: 90%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.form-button {
  padding: 10px 20px;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.simplify-form {
  min-height: 20%;
}

.output-area {
  background: #fff;
  margin: 20px 0;
  padding: 20px;
  border-radius: 10px;
  max-width: 60%;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.output-text {
  color: #555;
}

.footer {
  min-height: 10rem;
  text-align: center;
  padding: 10px;
  background: #333;
  color: white;
}
